body {
    width: 85%;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
#envoltorio{
    width: 85%; /*Como no está en un contenedor flex, manejo su tamaño con width*/
    margin: 0 auto;
    min-width: 650px;
}
#envoltorio header img{
        width: 100%;
}
#envoltorio #contenido{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;

}

#envoltorio #contenido nav{
    background-color: #000;
    color:#fff;
    
    flex-basis: 20%; /*Como está dentro de un contenedor flexible, manejo su tamaño con flex-basis, flex-grow y flex-shrink*/
    flex-grow: 1;
    flex-shrink: 1;
    
    padding: 20px 3%;
}
#envoltorio #contenido nav li{
    list-style: none;
}
#envoltorio #contenido main{
    flex: 1 1 60%; 
    padding: 20px 3%;
}

#envoltorio #contenido aside{
    flex: 1 1 20%;
    background-color: #000;
}
#envoltorio #contenido aside .anuncio{
    background-color: orange;
    text-align: center;
    margin: 15px auto;
    width: 90%;
}

#envoltorio #contenido aside .anuncio img{
    width: 90%;
    padding-top: 5px;
}
#envoltorio #contenido aside .anuncio img+p{
    width: 75%;
    margin: 20px auto;
    text-align: center;			
}
