.foto{
    text-align: center;
    
}  
a{
    text-decoration: none;
}


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    color:darkslategrey ;
    text-align: center;
}
body{
    background-color:bisque
}
.caja{



    
}