@font-face {
    font-family:"fuente";
    src: url(../FUENTES/EJERCICIO01FUENTES/EduTASBeginner-VariableFont_wght.ttf);

}
h1{
    text-align: center;
    width: 1250px;
    height: 250px;
    border: yellow dashed 2px;
    background-color: red;
    font-family:"fuente";
    font-size: 35pt;
    color: yellow;
    border-radius: 15px;
}