#contenido .carrusel{
    border: 1px black solid;
    margin: 70px auto auto;
    width: 80%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/Fondo-Super-Mario-para-Twitter.webp );
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    max-height: 500px;

}
.carrusel img{
    max-width: 50px;
    max-height: 50px;
}

.carrusel div #flechaizq {
    flex: 1 1 50%;
    padding-left: 10px;
}

.carrusel div #flechadech {
    flex: 1 1 50%;
    padding-right: 10px;
}

h1 main{
    text-align: center;
    display: block;
    font-size: 40pt;
    margin: 0 auto;
}
  
    