*{
    box-sizing: border-box;
}
#Envolvente{
    width: 85%; /*Asi el */
    margin: 0 auto;
    min-width: 650px;
}
#Envolvente header{
    width: 100%;
    background-color:coral;
    padding-top: 70px;
    padding-bottom: 70px;
}
#Envolvente header h1{
    color: white;
    text-align: center;
}

























