h1{
    text-align: center;
    color:burlywood;
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    color:darkslategrey ;
    text-align: center;
}
body{
    background-color:azure;
}