body{
background-color:bisque;
}
h1{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 40px;  
}
h2{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.foto{
text-align: center;
}
p{
text-align: center;
}